<div class="well">
    <h2 class="modal-title">Навигация</h2>
    <ul class="nav list-group">
        <li class="">
            <a href="{{ path('order_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Заказы
            </a>
        </li>
        <li class="">
            <a href="{{ path('paper_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Бумага
            </a>
        </li>
        <li class="">
            <a href="{{ path('user_list') }}">
                <i class="glyphicon glyphicon-picture"></i>
                Пользователи
            </a>
        </li>
        <li class="">
            <a href="{{ path('printer_list') }}">
                <i class="glyphicon glyphicon-picture"></i>
                Принтеры
            </a>
        </li>
    </ul>
</div>